body{
    margin: 0px;
    padding: 0px;
}
header{
    font-size: 2em;
    font-family: papyrus, fantasy;
    color: white;
    background: radial-gradient(navy, dodgerblue);
    text-align: center;
    position: fixed;
    padding-top: 5px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    box-sizing: border-box;
}
nav{
    background-color: lightgray;
    position: fixed;
    top: 55px;
    width: 80px;
    bottom: 50px;
}
nav ul{
    list-style: none;
    margin-left: 5px;
    padding-left: 0px;

}
main{
    background: antiquewhite;
    position: fixed;
    top: 55px;
    left: 80px;
    right: 0px;
    bottom: 50px;
    padding: 10px;
    overflow-y: auto;

}
footer{
    background: navy;
    text-align: center;
    font-size: 0.8rem;
    color: yellow;
    padding: 5px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

