table{
    border: 5px outset black;
    box-shadow: 2px 2px lightgray;
    border-collapse: collapse;
}
td, th{
    border: 1px solid grey;
    padding: 2px;
}
tr:nth-child(even){
    background-color: rgb(194, 219, 241);
}
tr:hover{
    background-color: rgb(237, 237, 21);
}
td:nth-child(3){
    text-align: right;
}
tbody tr:nth-child(1){
    writing-mode:vertical-lr;
    text-orientation: upright;
}

