div{
    height: 400vh;
}
header{

    height:400px;
    background: linear-gradient(to right, lightblue, dodgerblue);
    overflow-y: scroll;
    scroll-timeline: --main-timeline;
}
img{
    width: 40px;
    border-radius: 200px;
    position: absolute;
    left: 10px;
    top: calc(50% - 20px);
    border: 2px solid black;
    animation: catslider linear;
    /* animation-duration: 2s;
    animation-delay: 2s; */

    animation-timeline: --main-timeline;


}
@keyframes catslider{
    0%{
        left: 0%; 
        top: 0px;
        transform: rotate(0deg) scale(1.0);

    }
    40%{
        left: 50%;
        top: 100%;
        transform: rotate(360deg) scale(3.0);
    }
    60%{
        left: 50%;
        top: 100%;
        transform: rotate(360deg) scale(3.0);
    }
    100%{
        left: 90%;
        top: 0%;
    }
}