body{
    background-color: black;
    color: white;
    margin:0px;
    padding: 0px;

}
header{
    text-align: center;
    color: rgb(255, 166, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    font-weight: bold;
}
#home{
    color: magenta;
    border: 2px solid green;
    position: static;
}
.major{
    border: 5px solid white;
    font-size: 1.5em;
}
article.major{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}