#dialog::backdrop{
    background: radial-gradient(rgba(255, 255, 255, 1.0), rgba(0,0,0,1.0));
    opacity: 0.7;
}
#dialog2::backdrop{
    background: black;
    opacity: 0.2;
}
dialog{
    background-color: white;
    border: none;
    min-width: 50%;
    min-height: 50%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px tan;
}