dialog{
    max-width: 70%;
    border: none;
    border-radius: 10px;

}
dialog article{
    overflow: auto;
}
#sampleDialog::backdrop{
    background: linear-gradient(rgba(128, 128, 128, 0.75), 
        rgba(211, 211, 211, 0.834));
}
dialog button{
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 10px;
    padding: 2px 3px;
    font-size: 1.2rem;
    background-color: white;
    color: black;
}