header{
    font-size: 2em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    background: rgb(60, 1, 71);
}

a img{
    width: 80px;
    transition: all 0.1s;
}
a img:hover{
    transform:scale(1.1);

}
a img:active{
    transform:scale(0.9);
}
.tooltip{
    position: relative;
    display: inline-flex;
    border: 2px solid black;
}
.tooltip:hover::before{
    content: "";
    display: block;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: yellow transparent blue transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -5px;
    left: 45%;
}
.tooltip:hover::after{
    content: attr(data-tooltip);
    font-size: 0.5rem;
    font-style: italic;
    text-decoration:none;
    color: magenta;
    background-color: yellow;
    position: absolute;
    top: -14px;
    left: 20%;
    width: auto;
    min-width: 60%;
    border-radius: 2px;
    text-align: center;
    display: block;
    overflow: hidden;
    

}
#three{
    width: 0px;
    height: 0px;
    border: 35px solid black;
    border-width: 20px 0px 20px 100px;
    border-color: transparent black transparent blue;

}