#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    
}
header{
    grid-area: header;
    grid-column: auto / span 4;
    background: blue;
}
nav{
    grid-area: nav;
    background: yellow;
    grid-column: 1;
}
main{
    grid-column: auto / span 3;

}
article{
   grid-row: auto / span 3;
   display: grid;
   grid-template-rows: subgrid;
   border: 2px solid black;
   border-radius: 5px;

}
article div.header{
    background: green;
}
article div.content{
    background: dodgerblue;
}
article div.footer{
    background: yellow;
}

