.grid{
    display: grid;
    background: black;
    /* repeat() takes two arguments: the number of times to repeat, followed by the properties)*/

    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr repeat(2, 2fr 1fr); 
    
    /*. That's like saying: 
    grid-template-columns: 2fr 1fr 2fr 1fr;
    */

    gap: 1rem;
    padding: 1rem;
}
.grid header{
    grid-column: span 5;
    background: navy;
    font-size: 2em;
    color: white;
    font-family: papyrus;
    text-align: center;
}
.grid footer{
    grid-column: span 4;
    background: navy;
    color: white;
    font-size: 0.8rem;
    font-family: papyrus;
    text-align: center;
}
.grid nav{
    grid-column: 1;
    grid-row: span 5;
    background: rgb(156, 189, 199);;
    padding: 5px;

}
.grid nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}
.grid li{
    color: black;
    background: lightcyan;
    margin: 5px auto;
    text-align: center;
    width: 50%;
    border-radius: 5px;

    
}
.grid li:hover{
    cursor: pointer;
    background: rgb(110, 169, 251);
}
.grid article{    
    display: grid;
    grid-column: span 2;
    grid-row: span 2;
    grid-template-columns: subgrid;
    gap: 4px;
    padding: 4px;
    border-radius: 6px;
    background-color: lightsteelblue;
    outline: 1px solid grey;
    outline-offset: 2px;
 
    

}

p:last-of-type{
    margin-top: 1rem;
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}
.content{
    padding: 0.75rem;
}

@media screen and (max-width: 1200px){
    body{
        background: magenta;
    }
    .grid{
        grid-template-columns: 1fr repeat(1, 2fr 1fr); 
    }
    .grid header{
        grid-column: span 3;

    }
}
@media print{
    a::after{
        content: " (" attr(href) ") ";
    }
    nav{
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .grid header{
        grid-column: 1;
    }
    .grid article{
        display: grid;
        grid-column: 1;
        grid-row: span 2;
        grid-template-rows: 2fr 1fr;
        
        break-inside: avoid;
    }
    .grid article img{
        max-height: 250px;
        width: auto;
        display: block;
        margin: 5px auto;
    }
    }